
       

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Panel>Roles</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>


          </div>
          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-6 col-lg-6">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Gestion Roles</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <form class="user" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
                    <div class="form-group">
                      <input type="email" #email="ngModel" name="name" placeholder="role name" class="form-control form-control-user" ngModel  id="exampleInputEmail" aria-describedby="emailHelp" >
                    </div>
                    <div class="form-group">
                      <h6>Permessions : </h6>
                      <input type="checkbox"  name="all" ngModel> <span> All </span>
                      <input  type="checkbox"  name="consultation" ngModel> <span> consultation </span>
                      <input type="checkbox"  name="ajouter" ngModel> <span> ajouter </span>
                      <input type="checkbox"  name="supprimer" ngModel> <span> supprimer </span>
                      <input type="checkbox"  name="maj" ngModel> <span> update </span>
                    </div>
                    <input [disabled]="f.invalid" type="submit" class="btn btn-primary btn-user btn-block" value="Ajouter role" />

                  </form>
                </div>
              </div>
            </div> 
          </div>

          <!-- Content Row -->

        

    