


          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Panel>Roles</h1>
            <button *ngIf="updateRole" (click)="showAddRole()"  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">ajouter Role</button>


          </div>
          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-6 col-lg-6">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Gestion Roles</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <form  class="user">
                    <div class="form-group">
                      <input  [(ngModel)]="role.role" name="name" placeholder="role name" class="form-control form-control-user"  id="exampleInputEmail" aria-describedby="emailHelp" >
                    </div>
                    <div class="form-group">
                      <h6>Permessions : </h6>
                      <input type="checkbox"   name="all"  [(ngModel)]="all" [ngModelOptions]="{standalone: true}"> <span> All </span>
                      <input  type="checkbox"  name="consultation" [(ngModel)]="consultation" [ngModelOptions]="{standalone: true}"> <span> consultation </span>
                      <input type="checkbox"  name="ajouter" [(ngModel)]="ajouter" [ngModelOptions]="{standalone: true}"> <span> ajouter </span>
                      <input type="checkbox"  name="supprimer" [(ngModel)]="supprimer" [ngModelOptions]="{standalone: true}"> <span> supprimer </span>
                      <input type="checkbox"  name="maj" [(ngModel)]="maj" [ngModelOptions]="{standalone: true}"> <span> update </span>
                    </div>
                    <input *ngIf="addRole" (click)="onSubmit()" type="submit" class="btn btn-primary btn-user btn-block" value="Ajouter role" />
                    <input *ngIf="updateRole" (click)="onUpdateRole(role.id)" type="submit" class="btn btn-warning btn-user btn-block" value="Update role" />
                  </form>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Roles</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>role</th>
                          <th>permessions</th>
                          <th>actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let r of roles">
                          <td>{{r.role}}</td>
                          <td>{{r.id}}</td>
                          <td>
                            <button
                            [swal]="{confirmButtonText: 'Oui, Supprimer!',confirmButtonColor: '#3085d6', showCancelButton: true,title: 'voulez vous supprimer vraiment utilisateur'}"
                            (confirm)="onDelete(r.id)"
                             class="btn btn-sm btn-danger">supprimer</button>
                            <button style="margin-left:5px;" (click)="onUpdate(r.id)" class="btn btn-sm btn-warning">modifier</button>
                          </td>
                        </tr>
                        <tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->



