 

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h4 class="h3 mb-0 text-gray-800">Panel>Doc</h4> 


          </div>
          <button class="btn btn-primary btn-user "
           (click)="funcShowForm()">Nouveau Dossier
       		</button>
          <div class="row" *ngIf="showForm">

            <!-- Area Chart -->
            <div class="col-xl-6 col-lg-6">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Gestion dossier</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <form class="user" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
                    <div class="form-group">
                      <input type="text"  id="titre" class="form-control fadeIn second" name="titre" class="form-control form-control-user" placeholder="Titre du dossier" [(ngModel)]="folder.titre" required email>
                    </div>
                    <!-- <div class="form-group">
                      <input  type="password" id="password" class="form-control fadeIn third" name="pass" class="form-control form-control-user" placeholder="password" ngModel required>
                    </div> -->
                    
                    
                    <input  type="submit" class="btn btn-primary btn-user btn-block" value="Ajouter role" />

                  </form>
                </div>
              </div>
            </div>
            
          </div>

          <!-- Content Row -->
          <div class=" card shadow" *ngFor="let item of folders"
          style="margin:10px;">
          <div class="card-header">
          	<div style="display:inline-block;width:7%">
          		<img src="assets/img/folder.png" style="width:40px;height:40px;margin-left: 15px">
          	</div>
          	
          	<div style="display:inline-block;width:30%">{{item.titre}} 
          		<span class="badge badge-info">contient {{item.documents.length}} Doc</span></div>
          	<div style="display:inline-block;width:10%;float:right">
          		<a [routerLink]="['/doc',1]"><img src="assets/img/add.png"
          		style="width:40px;height:40px;margin-left: 15px">
          		</a>
          	</div>
          </div>
          
          </div>

        </div>
        <!-- /.container-fluid -->

      