

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Panel>Permessions</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>


          </div>
          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-6 col-lg-6">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Gestion Permessions</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <form class="user" #f="ngForm" (ngSubmit)="onSubmit(f.value)">
                    <div class="form-group">
                      <input type="text"  id="login" class="form-control fadeIn second" name="login" class="form-control form-control-user" placeholder="username" ngModel required email>
                    </div>
                    <div class="form-group">
                      <input  type="password" id="password" class="form-control fadeIn third" name="pass" class="form-control form-control-user" placeholder="password" ngModel required>
                    </div>
                    <h6>Selectionner role</h6>
                    <div class="form-group ">
                      <select class="form-control" ngModel name="role">
                        <option *ngFor="let role of roles" value="{{role['role']}}">{{role['role']}}</option>
                      </select>
                    </div>
                    <input [disabled]="f.invalid" type="submit" class="btn btn-primary btn-user btn-block" value="Ajouter role" />

                  </form>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Gestion Permessions</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">

                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

        </div>
        <!-- /.container-fluid -->

